.fold-top {
    grid-column: full-start / full-end;
    grid-template-rows: 10rem 1fr;
    background-image: url('../images/illustration-working.svg');
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: right -135px bottom 50%;

    @media only screen and (max-width: $breakpoint-md) {
        background-size: 80%;
        background-position: top 100px center;
    }

    @media only screen and (max-width: $breakpoint-sm) {
        background-size: 100%;
        background-position: top 100px center;
    }
}