.hero {
    grid-column: center-start / center-end;    
    width: 100%;
    display: flex;

    &--information {
        grid-column: center-start / col-end 4;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        @media only screen and (max-width: $breakpoint-md) {
            grid-column: center-start / center-end;            
            text-align: center;
            align-items: center;
            margin-top: 35rem;
        }

        @media only screen and (max-width: $breakpoint-sm) {
            grid-column: center-start / center-end;            
            text-align: center;
            align-items: center;
            margin-top: 20rem;
        }
    }

    &__title {
        font-size: 7rem;
        line-height: 1.1;
        margin-bottom: 1rem;

        @media only screen and (max-width: $breakpoint-md) {
            font-size: 5rem;
        }
    }

    &__subtitle {
        color: var(--color-gray-violet);
        font-weight: 500;
        margin-bottom: 3rem;
    }
}