.shorten {
    grid-column: center-start / center-end;
    margin-top: -7rem;
    margin-bottom: 1rem;
    padding: 4.5rem 4rem;
    background: var(--color-primary-dark) url("/images/bg-shorten-desktop.svg") no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 1rem;

    @media only screen and (max-width: $breakpoint-md) {
        padding: 3.5rem 3rem;
    }

    &-form {
        display: flex;

        @media only screen and (max-width: $breakpoint-md) {
            flex-direction: column;
        }

        &__input {
            padding: 1.5rem 2rem;
            border-radius: 0.5rem;
            border: none;
            flex: 1;
            font-size: 1.8rem;
            color: var(--color-gray-violet);
        }

        &__button {
            margin-left: 2rem;
            font-size: 2rem;
            font-weight: 500;

            @media only screen and (max-width: $breakpoint-md) {
                margin: 2rem 0 0 0;
            }
        }
    }

    &-link {
        grid-column: center-start / center-end;

        &__item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 2.5rem;
            background-color: var(--color-light);
            margin-top: 1.5rem;
            border-radius: 1rem;

            @media only screen and (max-width: $breakpoint-md) {
                align-items: start;
                flex-direction: column;
            }

            & p {
                @media only screen and (max-width: $breakpoint-md) {
                    margin-bottom: 2rem;
                    padding-bottom: 2rem;
                    width: 100%;
                    border-bottom: 1px solid var(--color-dark);
                }
            }
        }

        &__copy-item { 
            & a {
                color: var(--color-primary);

                @media only screen and (max-width: $breakpoint-md) {
                    display: block;
                    margin-bottom: 1.5rem;
                }
            }

            @media only screen and (max-width: $breakpoint-md) {
                flex-direction: column;
                width: 100%;
            }
        }

        &__copy-button {
            margin-left: 1.5rem;
            font-size: 1.8rem;

            @media only screen and (max-width: $breakpoint-md) {
                margin: 0;
                width: 100%;
            }
            
            &-copied {
                background-color: var(--color-primary-dark);
            }
        }
    }
}
